.bg-blue {
    background-color: #007AFF;
}

.blue {
    color: #007AFF;
}

.bg-grey {
    background-color: #D6D6D6;
}

.text-white {
    color: #FFFFFF;
}

.text-grey {
    color: #767680;
}

.max-width {
    max-width: 250px;
}
