.homeScreen {
    background-image: url("../../assets/wallpaper.jpeg");
    background-position: center;
    background-size: cover;
}

.application p {
    color: white;
}

.app_down {
    background-color: rgba(204, 204, 204, 0.5);
}